*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Open-Sans", sans-serif;
}

ul {
  list-style-type: none;
}

.search-container {
  max-width: 1200px;
  margin: 40px auto 0 auto;
  height: 100vh;
}
@media (max-width: 48em) {
  .search-container {
    max-width: 95%;
  }
}
.search-container .search__form {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.search-container .search__form input {
  font-size: 20px;
  height: 32px;
  line-height: 32px;
  border: none;
  width: 30%;
}
@media (max-width: 48em) {
  .search-container .search__form input {
    width: 90%;
    margin: 0 auto;
  }
}
.search-container .search__form input[type=text] {
  padding-left: 5px;
}
.search-container .search__form input:focus {
  outline: none;
  box-shadow: 0 0 2px #A1AAB1;
}
.search-container .search__form input::-moz-placeholder {
  color: #A1AAB1;
  font-size: 20px;
}
.search-container .search__form input::placeholder {
  color: #A1AAB1;
  font-size: 20px;
}

.search__content {
  display: flex;
  gap: 40px;
}
@media (max-width: 48em) {
  .search__content {
    flex-direction: column;
  }
}

.search__nav__btns {
  display: flex;
  flex-direction: column;
  align-self: start;
  border: 1px solid #e3e3e3;
  border-radius: 6px;
  background: #ebebeb;
  margin: 0 auto;
  padding-bottom: 10px;
  width: 100%;
  max-width: 15em;
  margin-bottom: 30px;
}
@media (max-width: 48em) {
  .search__nav__btns {
    min-width: 100%;
  }
}
.search__nav__btns__footer {
  color: #898989;
}

.search__nav__btn {
  border-radius: 14px;
  border: 1px solid #353b3e;
  background: #353b3e;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  min-height: 42px;
  line-height: 15px;
  padding: 6.95652px 14px;
  margin: 10px 0 0 10px;
  cursor: pointer;
  text-align: left;
  width: auto;
  max-width: 90%;
  display: flex;
  justify-content: start;
  align-items: center;
  text-align: left;
  transition: 0.3s ease;
}
.search__nav__btn span {
  font-size: 0.8em;
  margin-left: auto;
}
.search__nav__btn:hover,
.search__nav__btn .active {
  background: #fefefe;
  color: #353b3e;
}
.search__nav__btn::before {
  content: "";
  position: relative;
  min-height: 12px;
  min-width: 12px;
  border-radius: 8px;
  margin-right: 8px;
  border: 1px solid #a1aab1;
  background: #4a4a4a;
}

.date__slider {
  position: relative;
  top: 1em;
}

.date__range {
  width: 100%;
}
.date__range::before, .date__range::after {
  text-transform: capitalize;
  position: absolute;
  top: 2.8em;
}
.date__range::before {
  content: "present";
  left: 0;
}
.date__range::after {
  content: "2010";
  right: 0;
}

.search__results {
  max-width: 100%;
  width: 1200px;
}
.search__results > * {
  flex: 1;
}

.search__result {
  background: #F5F5F5;
  margin-bottom: 15px;
  border-radius: 6px 6px 6px 0;
}
.search__result > * {
  flex: 1;
}
.search__result__content {
  display: grid;
  grid-template-columns: 315px 1fr;
}
@media (max-width: 48em) {
  .search__result__content {
    grid-template-columns: 1fr;
  }
}
.search__result__content.no-media {
  display: grid;
  grid-template-columns: 1fr;
}
.search__result__content.no-media .search__result__media {
  display: none;
}
.search__result__content.no-media .search__result__text {
  padding: 15px 0 15px 15px;
}
.search__result__content.no-media __description p {
  color: red;
}
.search__result__text {
  padding: 15px 0 0 15px;
  overflow-wrap: break-word;
}
.search__result__category {
  text-transform: capitalize;
  font-size: 0.7em;
  padding: 5px 10px;
  width: -moz-fit-content;
  width: fit-content;
  border: 1px solid;
  border-radius: 50px;
  margin-bottom: 10px;
  background: #e6ecfd;
  border: 1px solid #e6ecfd;
}
.search__result__media {
  display: flex;
  align-items: flex-end;
}
.search__result__media img {
  display: block;
  max-width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 6px 0 0 6px;
  aspect-ratio: 16/9;
}
.search__result__title {
  font-weight: 100;
  font-size: 1.3em;
  margin-bottom: 10px;
}
.search__result__subtitle {
  color: #c0c0c0;
  font-size: 0.7em;
  text-transform: capitalize;
}
.search__result__description p {
  font-size: 15px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  text-overflow: ellipsis;
  padding-right: 10px;
}/*# sourceMappingURL=style.css.map */