*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
   font-family: "Open-Sans", sans-serif;
}

ul {
  list-style-type: none;
}

.search-container {
  max-width: 1200px;
  margin: 0 auto;

  @media (max-width: 48em) {
    max-width: 95%;
  }


  .search__form {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    
    input {
      font-size: 20px;
      height: 32px;
      line-height: 32px;
      border: none;

      &[type=text] {
        padding-left: 5px;
      }

      &:focus {
        outline: none;
        box-shadow: 0 0 2px #A1AAB1;
      }

      &::placeholder {
        color: #A1AAB1;
        font-size: 20px;
      }
    }
  }
}

.search__content {
   display: flex;
   gap: 5em;

   @media (max-width: 48em) {
     flex-direction: column;
   }
}

.search__nav {
  display: flex;
  flex-direction: column;

  gap: 2em;
  padding: 40px 40px 40px 20px;
  background: #f5f5f5;

  @media (max-width: 48em) {
    gap: 4em;
    justify-content: center;
    align-items: center;

  }

  li {
    position: relative;

    @media (max-width: 48em) {
      border-bottom: 1px solid #16364d;
    }
  }

  .num-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #16364d;
    font-size: .5em;
    font-weight: 600;
    color: #F5F5F5;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    position: absolute;
    top: -2em;
  }
}


.search__result {
   background: #F5F5F5;
   margin-bottom: 15px;
   border-radius: 6px 6px 0 0;

  &__content {
    display: flex;
    justify-content: space-around;
    max-width: 767px;
  }

  &__text {
    padding: 15px 0 0 15px;
    
  }
  
  &__media {
    display: flex;
    align-items: flex-end;
   
     img {
        display: block;
        max-width: 100%;
        border-radius: 0 6px 0 0;
     }
  }

  &__categories {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-bottom: 20px;
  }

  &__category {
    background: #000;
    text-transform: capitalize;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 20px;  
    background: #D9D9D9;
  }

  &__title {
    font-weight: 100;
    font-size: 1.5em;
    margin-bottom: 10px;
  }

  &__description p {
    max-width: 530px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    text-overflow: ellipsis;
  }
}

.addthis_logos {
    background: #D9D9D9;
    display: flex;
    max-width: 767px;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 180px;
    border-radius:0 0 6px 6px;

    @media (max-width: 48em){
      padding: 10px 90px;
    }
}

.search__pagination { 
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    height: 40px;
    margin-top: 30px;

   .search__pages {
     display: flex;
     gap: 5px;

     li {
        height: 2em;
        width: 2em;
        line-height: 2em;
        text-align: center;
        transition: 650ms ease-in-out;

        &.active,
        &:hover {
          background: #D9D9D9;
        }
     }
   }

   .prev-btn,
   .next-btn {
      display: inline-flex;
      justify-content: center;
      align-items: center; 
      height: 2em;
      width: 2em;
      color: #d9d9d9;
      background: #282828;
      border-radius: 50%;
      border: none;
      text-decoration: none;
      transition: 0.2s ease-in;


      &:hover {
        background: lighten(#282828, 10%);
      }
   }
}